{% extends "!layout.html" %}

{% block menu %}
{{ super() }}
<div class="language-menu">
    <p class="caption">
        <span class="caption-text">Languages</span>
    </p>
    <ul>
        <li class="toctree-l1">
            <a class="reference internal" href="../zh_CN/{{ pagename }}.html">
                中文
            </a>
        </li>
        <li class="toctree-l1">
            <a class="reference internal" href="../en/{{ pagename }}.html">
                English
            </a>
        </li>
    </ul>
</div>
{% endblock %}